@model Agenda.Models.Evento

@{
    ViewData["Title"] = "Detalhes Evento";
}

<h1>Detalhes do evento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.local)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.participantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.participantes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
